@model DS_CSCI3110_Final.Models.ViewModels.AirplaneVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Airplane Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TailNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TailNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hours)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@if (Model != null)
{
    <h4>Pilots</h4>
    <a asp-action="Create" asp-controller="Pilot" asp-route-id="@Model.Id">
        Add Pilot
    </a>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Pilots != null)
            {
                @foreach (var pilot in Model.Pilots)
                {
                    <tr>
                        <td>
                            @pilot.Id
                        </td>
                        <td>
                            @pilot.FirstName @pilot.LastName
                        </td>
                        <td>
                            <a asp-action="Edit" asp-controller="Pilot"
                   asp-route-id="@Model.Id" asp-route-authorId="@pilot.Id">Edit</a> |
                            <a asp-action="Delete" asp-controller="Pilot"
                   asp-route-id="@Model.Id" asp-route-authorId="@pilot.Id">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
